body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}

.flex-td{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.edit-button{
    color: white;
    text-decoration: none;
    a{
        color: white;
        font-weight: bold;
    }
}

.delete-button{
    background-color: red;
}
.delete-button:hover{
    background-color: rgb(219, 17, 17);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.form-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.error {
    color: red;
    font-size: 0.875em;
}

.success {
    color: green;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}